header{
    background-color:indigo;
    height: 5rem;
}

.quiz{
    width: 15rem;
}

#wrongAnswer:active{
    background-color: rgb(236, 220, 220);
}

#correctAnswer:active{
    background-color:green;
}
